<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Be Disciplined</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>
    <body>
        <div class="container">
            <img src="static/jesus.jpg" alt="photo of Jesus Christ">
        </div>

        <div id="text">
            <p>scripture here</p>
        </div>

        <div id="question">
            <p>Where you disciplined today?</p>
        </div>

        <div id="button">
            <button type="submit">Yes</button>
            <button type="submit">No</button>
        </div>

        <div id="progress">
            <p>Progress:</p>
            <p>- of 21 days</p>
        </div>

    </body>
</html>